.ChatWindow{
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    min-height: 60vh;
    width: 80%;
    align-items: flex-end;
}
.UserJoined{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.MessageContainer{
    display:  flex;
    flex-direction: column;
    min-width: 50%;
    gap: 1rem;
}

.MessageBox {
    display:  flex;
    flex-direction: column;
    border: 2px solid black;
}

.MessageMeta {
    display:  flex;
    flex-direction: row;
    gap: 1rem;
}

.ChatFooter {
    display: flex;
    margin-bottom: 0;
    width: 100%;
}

