.JoinChatContainer {
  gap: 1rem;
  min-height: 30vh;
  background: rgba(211, 229, 245, 0.7);
}

.UserNameInput::placeholder {
  color: whitesmoke;
}

.errorInfo {
  color: red;
}


/*@media (max-width: 768px) {
  .InputAndButton {
    flex-direction: column;
  }

  .JoinBtn {
    width: 100%;
    border-radius: 16px;
  }
}*/


