nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 2px;
  position: relative;
  height: 60px;
  width: 100%;
  box-shadow: 0px 6px 5px #06060c;
  background: rgb(24, 26, 43);
  background: linear-gradient(
    0deg,
    rgba(24, 26, 43, 1) 0%,
    rgba(10, 10, 19, 1) 35%
  );
}

.LogoNav {
  margin-left: 2rem;
  color: #fff;
  font-family: "Sacramento", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}

.LogoNavUppercase {
  font-family: "Lumanosimo", cursive;
  text-transform: uppercase;
  font-size: 3rem;
}

.NavBtn {
  display: flex;
  gap: 10px;
  margin-right: 2rem;
}
